* { margin: 0;
    padding: 0;
}

.lebenslauf{
    height: 100%;
    width: 100%;
    background-image: url("pictures/einleitung/chadrick.jpg");
    background-size: cover;
}

.contentcv{
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translateX(-50%);
    color: #cccccc;
}

h1 {
    margin: 20px 0 20px;
    font-size: 75px;
    text-transform: uppercase;

}

h3 {
    margin: 20px 0 20px;
    letter-spacing: 2px;
    font-size: 25px;

}

h4 {
    color: white;
    font-size: 13px;
}

.uebermich{
    height: 100%;
    width: 100%;
    background-image: url("pictures/einleitung/smoke.jpg");
    background-size: cover;
}

.uebertext {
    width: 550px;
}

.haupt{
    width: 1080px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.haupt h2{
    color: #cccccc;
    font-size: 75px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-shadow: 4px 4px black;
}

.haupt h5{
    color: #cccccc;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-shadow: 2px 2px black;
}

.haupt p{
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-shadow: 2px 2px black;
}

.uebermich .info-btn{
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 30px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.uebermich .info-btn:hover{
    border: 2px solid crimson;
    background: slategrey;
    transition: 1s;
    color: black;

}

.leistungen {
    height: 100%;
    width: 100%;
    background-image: url("pictures/einleitung/smoke.jpg");
    background-size: cover;
}

.titel h2{
    color: #cccccc;
    font-size: 75px;
    text-transform: uppercase;
    margin-bottom: 20px;

    text-align: center;
}

.box-cv{
    display: flex;
    justify-content: center;
    min-height: 400px;
    align-items: center;
}

.karte{
    height: 400px;
    width: 33%;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
}

h5{
    color: lightsteelblue;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-shadow: 1px 1px gray;
    text-align: center;
}

.pra p{
    color: lightsteelblue;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-shadow: 1px 1px gray;
    text-align: center;
}

.pra:hover{

}